
* {
	margin: 0px;
	border: 0px;
}

body {
	display: flex;
	justify-content: center;
}

.wrapper {
	margin: 50px 20px;
	padding: 20px;
	border: 1px solid #ddd;
}

.wrapper input {
	width: 300px;
	height: 30px;
	line-height: 30px;
	font-size: 25px;
	border: 1px solid #ddd;
}

.wrapper ul {
	padding: 0px;
	width: 300px;
	list-style: none;
	border: 1px solid #ddd;
	border-top: none;
	display: none;
}
.wrapper ul li {
	width: 299.5px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.wrapper ul li:hover {
	background-color: #ddd;
}
