
*{
	margin: 0px;
	padding: 0px;
}

body {
	min-width: 600px;
}

.appLink {
	position: fixed;
	width: 100px;
	height: 100%;
	background-color: #171C25;
	z-index: 2;
}

.appLinkFrame {
	border: none;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.nav {
	position: fixed;
	left: 100px;
	width: 250px;
	height: 100%;
	background-color: #1A212E;
	z-index: 1;
}

.navContentFrame {
	border: none;
	width: 100%;
	height: 100%;
}

.content {
	margin-left: 350px;
	width: calc(100%-350px);
	height: 100%;
}

.header {
	height: 90px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .title {
	margin: 5px 0px;
	font-size: 25px;
	font-weight: 400;
	opacity: 0.7;
}

.userContent {
	display: flex;
	align-items: center;
}
.userContent .userIcon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #5F9EA0;
}
.userDetail {
	margin: 0 10px;
}
#userName {
	color: #1B7DE7;
}
#userLevel {
	color: #999;
	font-size: 13px;
}
#downRow {
	margin-left: 10px;
	color: #999;
}

#downRow:hover {
	color: #1B7DE7;
}

.h_line {
	width: 100%;
	height: 0.5px;
	background-color: #ddd;
}
.mesContent {
	display: flex;
	flex-direction: row;
}
.leftList {
	width: 400px;
	height: 100%;
	border-right: 1px solid #ddd;
	flex-shrink: 1;
}
.searchContent {
	border-bottom: 1px solid #ddd;
	padding: 18px 30px;
	height: 71px;
	box-sizing: border-box;
}
.search_C {
	width: 100%;
	height: 100%;
	display: flex;
	border: 1px solid #ddd;
}
.searchContent input {
	border: none;
}
#searchInput {
	height: 100%;
	width: 85%;
	padding-left: 10px;
}
#searchInput:focus {
	outline: none; 
}
#searchBtn {
	width: 15%;
	background-color: #008000;
}

.cell {
	padding: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
.cell:hover:not(.cellActive) {
	background-color: #f2f2f2;
}
.cell.cellActive {
	border-left: 2px solid #1d94ed;
}

.cellTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.cell_user {
	display: flex;
	align-items: center;
}

.cell_icon {
	width: 40px;
	height:40px;
	background-color: #6495ED;
	border-radius: 50%;
	margin-right: 15px;
}
.cell_icon img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cell_uName {
	font-size: 13px;
	color: #333;
}
.cell_uName.uNameActive {
	font-weight: bold;
	color: #1B7DE7;
}
.cell_cSource {
	font-size: 11px;
	color:#999
}
.cell_time {
	font-size: 11px;
	color:#999
}
.cell_detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cell_Dtxt {
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	overflow:hidden;
	font-size: 8px;
	color: #999;
	flex-shrink: 2;
}
.cell_CNum {
	background-color: #1d94ed;
	font-size: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: white;
	border-radius: 10px;
	flex-shrink: 0;
}

.rightMsDetail {
	width: 100%;
	height: calc(100%-90px);
	min-width: 500px;
	min-height: 500px;
	flex-shrink: 2;
	position: relative;
}

.rightTop {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	border-bottom: 1px solid #ddd;
	padding: 18px 30px;
	height: 71px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.currentUser {
	display: flex;
	align-items: center;
}
.c_u_Name {
	font-size: 15px;
	color: #999;
	font-weight: bold;
}
.c_u_circle {
	width: 8px;
	height: 8px;
	margin-left: 10px;
	border-radius: 50%;
	background-color: green;
	opacity: 0.7;
}

.rightContent {
	position: absolute;
	top: 109px;
	left: 0px;
	right: 0px;
	bottom: 80px;
}

.rightFooter {
	position: absolute;
	padding: 30px;
	height: 80px;
	left: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	background-color: #00CED1;
}




