
*{
	margin: 0px;
	padding: 0px;
}

body {
	min-width: 900px;
}

.appLink {
	position: fixed;
	width: 100px;
	height: 100%;
	background-color: #171C25;
	z-index: 10;
}

.appLinkFrame {
	border: none;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.nav {
	position: fixed;
	left: 100px;
	width: 250px;
	height: 100%;
	background-color: #1A212E;
	z-index: 9;
}

.navContentFrame {
	border: none;
	width: 100%;
	height: 100%;
}

.header {
	position: fixed;
	left: 350px;
	top: 0px;
	right: 0px;
	z-index: 8;
	height: 90px;
	padding: 20px;
	background-color: white;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .title {
	margin: 5px 0px;
	font-size: 25px;
	font-weight: 400;
	opacity: 0.7;
}

.userContent {
	display: flex;
	align-items: center;
}
.userContent .userIcon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #5F9EA0;
}
.userIcon img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.userDetail {
	margin: 0 10px;
}
#userName {
	color: #1B7DE7;
}
#userLevel {
	color: #999;
	font-size: 13px;
}
#downRow {
	margin-left: 10px;
	color: #999;
	font-size: 20px;
	font-weight: bold;
}

#downRow:hover {
	color: #1B7DE7;
}

.searchContent {
	position: fixed;
	left: 350px;
	top: 90px;
	width: 400px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 18px 30px;
	height: 70px;
	box-sizing: border-box;
	background-color: white;
	z-index: 8;
}
.search_C {
	width: 100%;
	height: 100%;
	display: flex;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
}
.searchContent input {
	border: none;
}
#searchInput {
	height: 100%;
	width: 85%;
	padding-left: 10px;
}
#searchInput:focus {
	outline: none; 
}
#searchBtn {
	position: absolute;
    right: 44px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #a7b0c0;
    cursor: pointer;
    transition: color 1s;
}

.leftList {
	position: relative;
	top: 160px;
	left: 350px;
	bottom: 0px;
	width: 400px;
	border-right: 1px solid #ddd;
	box-sizing: border-box;
	z-index: 5;
	background-color: white;
}

.cell {
	padding: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}
.cell:hover:not(.cellActive) {
	background-color: #f2f2f2;
}
.cell.cellActive {
	border-left: 2px solid #1d94ed;
}

.cellTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.cell_user {
	display: flex;
	align-items: center;
}

.cell_icon {
	width: 40px;
	height:40px;
	background-color: #6495ED;
	border-radius: 50%;
	margin-right: 15px;
}
.cell_icon img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.cell_uName {
	font-size: 13px;
	color: #333;
}
.cell_uName.uNameActive {
	font-weight: bold;
	color: #1B7DE7;
}
.cell_cSource {
	font-size: 11px;
	color:#999
}
.cell_time {
	font-size: 11px;
	color:#999
}
.cell_detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cell_Dtxt {
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	overflow:hidden;
	font-size: 8px;
	color: #999;
	flex-shrink: 2;
}
.cell_CNum {
	background-color: #1d94ed;
	font-size: 10px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: white;
	border-radius: 10px;
	flex-shrink: 0;
}

.rightTop {
	position: fixed;
	left: 750px;
	top: 90px;
	right: 0px;
	border-bottom: 1px solid #ddd;
	padding: 18px 30px;
	height: 70px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	z-index: 7;
}
.currentUser {
	display: flex;
	align-items: center;
}
.c_u_Name {
	font-size: 15px;
	color: #999;
	font-weight: bold;
}
.c_u_circle {
	width: 8px;
	height: 8px;
	margin-left: 10px;
	border-radius: 50%;
	background-color: green;
	opacity: 0.7;
}

.rightContent {
	position: fixed;
	top: 160px;
	left: 750px;
	right: 0px;
	bottom: 90px;
	z-index: 2;
	display: flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
}

.msg_line {
	margin-top: 20px;
}

.v_line {
	width: 100%;
	height: 1px;
	background-color: #ddd;
	text-align: center;
}
.msg_line p {
	width: 100%;
	height: 100%;
	text-align: center;
	float: left;
	transform: translateY(-50%);
}

.msg_line.msg_line_active .v_line {
	background-color: #1B7DE7;
}
.msg_line.msg_line_active .msg_showTimeTxt{
	color: #1B7DE7;
}
.msg_showTimeTxt {
	color: #999;
	background-color: white;
	padding: 0 20px;
	width: 150px;
	margin:0px auto;
}

.messageSection {
	padding: 0px 20px;
	box-sizing: border-box;
}

.messageCell {
	display: flex;
	margin-bottom: 20px;
}
.messageCell:last-child {
	margin-bottom: 0px;
}
.msg_leftUser {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #008000;
	margin-right: 15px;
	flex-shrink: 1;
}
.msg_leftUser img {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
}
.msg_rightCont {
	flex-shrink: 10;
}
.msg_Name_Time {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.msg_uname {
	color: #999;
	font-size: 14px;
	font-weight: bold;
	margin-right: 10px;
}
.msg_time {
	color: #bbb;
	font-size: 12px;
	font-weight: bold;
}
.msg_rightTxt {
	font-size: 12px;
	color: #aaa;
}
.imageList {
	display: flex;
}
.msg_imgList img {
	width: 100px;
	height: 70px;
	margin: 15px 10px 0px 0px;
	border-radius: 5px;
}


.rightFooter {
	position: fixed;
	padding: 15px 30px;
	height: 80px;
	left: 750px;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	background-color: white;
	z-index: 8;
}
.footerConternt {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	overflow: hidden;
}
.footer_plus {
	background-color: #f2f2f2;
	height: 50px;
	line-height: 50px;
	width: 50px;
	text-align: center;
	flex-shrink: 1;
	font-size: 30px;
	color: #999;
	border-right: 1px solid #ddd;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	overflow: hidden;
}
.footer_input {
	height: 100%;
	line-height: 50px;
	width: calc(100% - 50px);
	flex-shrink: 10;
	border: none;
	padding: 0px 15px;
	color: #999;
	font-size: 13px;
}









