
#container {
	display:  flex;
	flex-wrap: wrap;
	align-items: center;
}

.sectionItem {
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #DDDDDD;
}

#dateMake {
	width: 400px;
	text-align: center;
}

