
* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
}

.headImgContent {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(20, 20, 20, .65), rgba(20, 20, 20, .65)), url("https://github.com/jinjinjinjinxun/IFE2018/blob/master/basic-college/task9-11/images/banner.png?raw=true") center no-repeat;
	background-size: 100% 100%;
	min-width: 800px;
	margin: 0 auto;
}

.headImgContent_Title {
	font-size: 40px;
	color: white;
	text-align: center;
	padding: 50px auto;
	padding-top: 150px;
	font-weight: 200;
}
.headImgContent_txt {
	max-width: 600px;
	color: #999;
	text-align: center;
	font-size: 14px;
	margin: 30px auto;
}
.account {
	width: 800px;
	margin: 50px auto;
	margin-bottom: 150px;
	border: 1px solid #666;
	box-sizing: border-box;
}
.account_Title {
	color: white;
	width: 100%;
	font-size: 14px;
	text-align: center;
	margin: 30px auto;
	margin-bottom: 0px;
}
.account_txt {
	color: #bbb;
	width: 100%;
	font-size: 8px;
	text-align: center;
	margin: 3px auto;
}
.account form {
	width: 600px;
	margin: 30px auto;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.account input {
	width: 200px;
	height: 30px;
	background-color: rgba(1,1,1,0);
	border: 0.5px solid #999;
	color: #f0f0f0;
	padding:0 10px;
	box-sizing: border-box;
}

.account input:focus{
    outline: none;   
    border: 1px solid #f2f2f2; 
}

.account button {
	width: 100px;
	border: none;
	border-radius: 2px;
	background-color: #f2f2f2;
}

.readyContent {
	width: 850px;
	margin: 60px auto;
}
.minTitle {
	width: 100%;
	font-size: 12px;
	text-align: center;
}
.maxTitle {
	width: 500px;
	margin: 10px auto;
	font-size: 30px;
	opacity: 0.8;
	text-align: center;
	margin-bottom: 30px;
}
.readyView {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.cardCell {
	width: 370px;
	position: relative;
	margin-bottom: 20px;
}
.cellLeftIcon {
	position: absolute;
	width: 50px;
	height: 50px;
}
.cellLeftIcon img {
	width: 70%;
}
.cellRightTxt {
	margin-left: 65px;
}
.cell_title {
	font-size: 15px;
	font-weight: bold;
}
.cell_detail {
	margin-top: 15px;
	font-size: 13px;
	color: #666;
}

.supportive {
	background: linear-gradient(rgba(20, 20, 20, .65), rgba(20, 20, 20, .65)),  url("https://github.com/jinjinjinjinxun/IFE2018/blob/master/basic-college/task9-11/images/background-2.png?raw=true") no-repeat center;
	background-size: 100% 100%;
	margin-bottom: 50px;
	position: relative;
	min-width: 900px;
}

.supportive_content {
	width: 1000px;
	padding: 80px 0px;
	margin: 0 auto;
}

.supportive_content .left_content {
	margin: 50px 50px 50px 80px;
	width: 400px;
}

.supportive_content .left_content .title {
	margin-right: 50px;
	margin-bottom: 20px;
	color: #f2f2f2;
	font-size: 28px;
}
.supportive_content .left_content .detail {
	margin-right: 50px;
	margin-bottom: 30px;
	color: #aaa;
	font-size: 13px;
}
.supportive_content .left_content .buttonList {
	display: flex;
	justify-content: space-between;
}

.right_content {
	position: absolute;
	overflow: hidden;
	height: 80%;
	border: 1px solid #999;
	border-right: none;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 400px;
	right: 0px;
	top: 10%;
	display: flex;
	align-items: center;
	
}
.right_content .cirle {
	margin: 15px;
	width: 10px;
	height: 10px;
	border: 1px solid #999;
	border-radius: 50%;
	flex-shrink: 1;
}

.right_content .ipadBack {
	background: url("https://github.com/jinjinjinjinxun/IFE2018/blob/master/basic-college/task9-11/images/screen.png?raw=true") no-repeat left;
	background-size: 100% 100%;
	width: 600px;
	height: 300px;
	flex-shrink: 10;
}


#checkBtn {
	width: 45%;
	height: 40px;
}
#tryBtn {
	width: 45%;
	height: 40px;
	color: #f2f2f2;
	background-color: rgba(0,0,0,0);
	border: 1px solid #999;
}


.tryOur {
	padding-bottom: 20px;
	border-bottom: 1px solid #f2f2f2;
}

.tryOur_back {
	width: 850px;
	margin: 0 auto;
}

.tryOur_title {
	font-size: 30px;
	text-align: center;
}

.tryOur_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.tryOur_content>li {
	width: 250px;
	margin: 30px 20px;
}

.li-title {
	font-size: 25px;
	margin-bottom: 20px;
}

.txtImg {
	border-bottom: 1px solid #f2f2f2;
}
.txtImg_content {
	width: 800px;
	margin: 50px auto;
}

.txtImg_content_item {
	display:  flex;
	justify-content: space-between;
}

.txtImg_content_item.item1 {
	margin-bottom: 40px;
}

.txtImg_content_item .left_img, .txtImg_content_item .right_img {
	width: 450px;
	height: 280px;
}

.txtImg_content_item .left_txt, .txtImg_content_item .right_txt {
	width: 280px;
}

.txtImg_content_item img {
	width: 100%;
	height: 100%;
}

.right_txt .title, .left_txt .title {
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 10px;
}
.right_txt .txt, .left_txt .txt {
	font-size: 14px;
	color: #999;
}

.usershow {
	border-bottom: 1px solid #f2f2f2;
}

.usershow_content {
	width: 800px;
	margin: 50px auto;
}

.usershow_content .head .title {
	font-size: 30px;
	text-align: center;
}
.usershow_content .head .detail {
	width: 550px;
	text-align: center;
	font-size: 14px;
	color: #999;
	margin: 10px auto;
}

.showBack {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 50px auto;
	
}

.showBack .teacher {
	width: 385px;
	height: 280px;
	margin-bottom: 30px;
	cursor:pointer;
	position: relative;
}
.teacher .teacherimg {
	z-index: 1;
	width: 100%;
	height: 100%;
} 
.teacherimg  img {
	width: 100%;
	height: 100%;
}

.frontContent {
	background-color: rgba(0,0,0,0.3);
	width: 385px;
	height: 280px;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

.frontContent .title {
	color: white;
	margin-top: 100px;
}
.frontContent .detail {
	color: #999;
	margin-top: 10px;
	font-size: 13px;
}

.imageList {
	width: 100%;
	height: 50px;
	margin-top: 20px;
}

.imageList img {
	margin: 10px;
	width: 30px;
	height: 30px;
}

.contact_content {
	width: 800px;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact_content .addEmail {
	width: 360px;
	text-align: center;
	border: 1px solid #999;
}

.addEmail .title {
	margin: 30px auto;
	font-size: 15px;
	color: #333;
}

.addEmail .yourName, .addEmail .subject {
	height: 30px;
}

.addEmail .message {
	height: 100px;
	width: 320px;
	border: 1px solid #999;
	margin: 10px auto;
	padding: 10px 10px;
	box-sizing: border-box;
	color: #333;
}

.addEmail .sendBtn {
	background-color: black;
	color: white;
	height: 40px;
	margin-bottom: 30px;
}

.addEmail input {
	width: 320px;
	border: 1px solid #999;
	margin: 10px auto;
	padding: 0 10px;
	box-sizing: border-box;
	color: #333;
}

.contact_content .contactTxt {
	width: 340px;
}
.contactTxt .title {
	font-size: 28px;
	margin-bottom: 20px;
}

.contactTxt .detail {
	font-size: 12px;
	color: #999;
	margin-bottom: 30px;
}

.contactTxt .location {
	background: url(images/dingwei.png) no-repeat;
	background-position:0px 5px;
	background-size: 15px 15px;
	padding-left: 25px;
	margin: 10px auto;
}

.contactTxt .phone {
	background: url(images/phone.png) no-repeat;
	background-position:0px 5px;
	background-size: 15px 15px;
	padding-left: 25px;
	margin: 10px auto;
}

.contactTxt .email {
	background: url(images/duihao.png) no-repeat;
	background-position:0px 5px;
	background-size: 15px 15px;
	padding-left: 25px;
	margin: 10px auto;
}

.footer {
	background-color: black;
	padding: 1px 0px;
	min-width: 900px;
}

.footer_content {
	width: 900px;
	margin: 50px auto;
	background-color: black;
	display: flex
}

.selectList_ul {
	display: flex;
	width: 500px;
	justify-content: space-between;
}

.child_ul {
	font-size: 12px;
	color: #666;
}

.child_ul>li:first-child {
	font-size: 13px;
	color: white;
}

.child_ul li {
	margin: 20px;
}

.rightSelect {
	width: 400px;
	padding: 20px 10px 10px 120px;
	box-sizing: border-box;
}
 .rightSelect .title {
 	color: white;
 	margin-bottom: 15px;
}
.rightSelect .detail {
	color: #666;
	font-size: 13px;
}
.rightSelect img {
	width: 15px;
	height: 15px;
}


